<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h2>Submitted Information</h2>

  <p>
    name: <%= data.name %>
  </p>
  <p>
    Dojo location: <%= data.location %>
  </p>
  <p>
    favorite language: <%= data.language %>
  </p>
  <p>
    comment: <%= data.comment %>
  </p>



  </body>
</html>
