<!DOCTYPE html>
<html>
	<head>
		<title>result</title>
		<meta charset="utf-8">

        <style>
            *{
                text-align:center;

            }

        </style>

     </head>
	</head>
	<body>
	<h1>Submitted Info</h1>
	<p>Name: <%= form.name %></p>
	<p>Dojo Location: <%= form.loc %> </p>
	<p>Favorite Language: <%= form.lang %></p>
	<p>Comment: <%= form.comment %></p>
      <form action='/' method='GET'>
		<button>Go Back</button>

	</form>

	</body>
</html>
