<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>IntroMongoose</title>
    </head>
    <body>
        <form action = "/users" method="post">
            <input type = 'text' name = 'name' placeholder="name">
            <input type = 'text' name = 'age' placeholder="age">
            <input type ="submit" value="Submit." >
        </form>

        <div = 'info'>
            <% for(var i=0; i<info.length; i++) {%>
              <li><%= info[i].name %> : <%= info[i].age             %></li>
           <% } %>
        </div>
    </body>
</html>
