<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
	<h1>Welcome to QuotingDojo</h1>
	<form action="/quotes" method="POST">
		Your name: <input type="text" name="author">
		Your quote: <textarea name="quote"></textarea>
		<input type="submit" name="Submit" value="Add Quote">
	</form>
	<a href="/quotes">Skip to quotes</a>
</body>
</html>