<html>
	<head>
		<title>New Mongoose</title>
	</head>
	<body>
		<div>
		<h1>Add a Mongoose</h1>
		<form action='/mongooses' method='post'>
			Mongoose Name: <input type="text" name="name">
			Mongoose Age: <input type="text" name="age">
			Mongoose Nickname: <input type="text" name="nickname">
			Mongoose Zipcode: <input type="text" name="zipcode">
			<input type="submit" value="Submit">
		</form>
		</div>
	</body>
</html>