<div class= 'banner'><a href='#/home'>Cancel</a></div>
<div class= create>
    <h2> Put the question and options here:</h2>
    <form ng-submit="addpoll()">
        <input type="text" ng-model= 'newpoll.question' placeholder="QUESTION.">
        <input type="text" ng-model= 'newpoll.a' placeholder="Option A">
        <input type="text" ng-model= 'newpoll.b' placeholder="Option B">
        <input type="text" ng-model= 'newpoll.c' placeholder="Option C">
        <input type="text" ng-model= 'newpoll.d' placeholder="Option D">
        <input type="submit" value="Create Poll">
    </form>
</div>
