<!DOCTYPE html>
<html>
<head>
	<title>Add Form</title>
</head>
<body>
	<h1>Add an Orca!</h1>
	<form action ="/orcas" method="POST">
		Name: <input type="text" name="name">
		Size: <input type="text" name="size">
		Mental Stability: <input type="text" name="mind">
		<input type="submit" name="Submit">
	</form>
</body>
</html>