<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">

    <div class="banner">

    <a href='#/dashboard' class = "textbanner">Dashboard</a> | <a href='#/products' class = "textbanner">Products</a> | <a href='#/orders' class = "textbanner">Orders</a> | <a href='#/customers' class = "textbanner">Customers</a>  |  <a href='#/logout' class = "textbanner">Logout</a>

  </div> <!-- end of banner -->
    <h1>customers</h1>

  </div> <!-- end of container -->

  </body>
</html>
