<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">

    <div class="banner">

    <a href='#/dashboard' class = "textbanner">Dashboard</a> | <a href='#/products' class = "textbanner">Products</a> | <a href='#/orders' class = "textbanner">Orders</a> | <a href='#/customers' class = "textbanner">Customers</a>  |  {{user.first_name}} <a href='#/logout' class = "textbanner">Logout</a>

  </div> <!-- end of banner -->

  <div class="search">
    <p><input type="text"></p>
    <button type="submit" name="button">Filter</button> <br>

    <p> Add a new product </p>
    <form  >
      Name: <br>
      <input type="text" name="name" value="">
      image(url):<br>
      <input type="text" name="name" value="">
      Description:<br>
      <input type="text" name="name" value="">
      Initial Quantity:<br>
      <select class="" name="">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select> 
      <p><button type="submit" name="button">Create</button></p>
    </form>



  </div>
  <div class="information">
    <div class="images">
      <p><img src="../images/placeholder.png" /><br> Nike shoes <br>{counter}</p>
      <p><img src="../images/placeholder.png"  /><br> Shirt <br>{counter}</p>
      <p><img src="../images/placeholder.png"  /><br> Pants <br>{counter}</p>
      <p><img src="../images/placeholder.png"  /><br> Computer <br> {counter}</p>
      <p><img src="../images/placeholder.png"  /><br> House <br> {counter}</p>
      <p><img src="../images/placeholder.png"  /><br> iPhone <br> {counter}</p>
      <br><br>
      <p> <a href="#">show more....</a></p>
    </div> <!-- end of images -->

  </div> <!-- end of information -->
  </div> <!-- end of container -->

  </body>
</html>
