<html>
    <head>
       <title>Dojo Survey Index</title>
       <meta charset="utf-8">
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type ="text/javascript">
            $(document).ready(function(){
                var socket = io.connect();

                $('#form').submit(function(){
                    var data= {
                        name: $('#name').val(),
                        loc: $('#loc').val(),
                        lang: $('#lang').val(),
                        comment: $('#comment').val()
                    }

                    socket.emit('form', data )

                    return false;

                });

                socket.on('result', function(data){
                    console.log(data);
                    $("#result").append("You emitted the folling information to the server: { name:" + data.name + ", location: " + data.loc + ", language : " + data.lang + ", comment : " + data.comment + "}" )

                    var num = Math.floor(Math.random()*10000);

                    $("#result").append("Your lucky number emitted by the server is " + num + "." )
                });

                return false;

            });





    </script>
       <style>
           *{
               text-align:center;

           }
           form{
               border: 1px solid black;
               padding: 20px;
               width: 40%;
               height: auto;
               margin: 0 auto;


           }
       </style>

    </head>
    <body>

        <div style="background-color: lightgreen" id = 'result'> </div>
        <h2>DOJO SURVEY:</h2>
      <form id = 'form'>
          Your Name: <input type='text' name='name' id = 'name'><br><br>
          Location: <select id="loc">
            <option value="Seattle">Seattle</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Washington D.C.">Washington D.C.</option>
            <option value="Chicago">Chicago</option>
            <option value="Silicon Valley">Silicon Valley</option>
          </select> <br><br>
          Favorite Language: <select id="lang">
            <option value="Python">Python</option>
            <option value="Ruby">Ruby</option>
            <option value="Java Script">Java Script</option>
            <option value="C++">C++</option>
          </select> <br><br>
          Comments(optional):<br> <textarea rows="4" cols="50" id="comment"> </textarea> <br><br>
          <input type='submit' value='submit'>
      </form>
    </body>
</html>
