<html>
	<body>
		<div>
		<form action='/results' method='post'>
			Your Name: <input type="text" name="name">
			Dojo Location <select name="dojlocation">
							<option value="Mountain View"> Mountain View</option>
							<option value="Seattle">Seattle</option>
						  </select>
			Favorite Language <input type="text" name="lang">
			Comment<textarea name="comment"></textarea>
			<input type="submit" value="Submit">
		</form>
		</div>
	</body>
</html>