<html>
	<body>
		<div>
		<h1>Submitted Information</h1>
			<p>Name <%= user.name %></p>
			<p>Dojo Location: <%= user.dojo%></p>
			<p>Favorite Language: <%= user.lang%></p>
			<p>Comment : <%= user.comment%></p>
		</form>
		</div>
	</body>
</html>