<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quoting Dojo</title>
        <style>
        *{
            text-align: center;
        }
        </style>
    </head>
    <body>
        <h1>Welcome to Quoting Dojo</h1>
        <form action ="/quotes/add" method = "post">
            <input type="text" name= "name" placeholder="YOUR NAME" /><br><br>
            <textarea rows = "4" cols= "20" name = "quote">YOUR QUOTE</textarea><br>
            <input type="submit" value ="SUBMIT"> <br><br>

        </form>

        <a href="/quotes"> Skip to Quotes!</a>
    </body>
</html>
