*{
    margin: 10px;
}
form{
    display: inline-block;
    text-align: right;
}
.add, .logout{
    display: inline-block;
    color: lightblue;

}
a:link{
    text-decoration: none;
    color: lightblue;

}

table{
    padding: 60px;
}
