<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add a Car</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <h2> Add a Car </h2>
        <form>
            Make: <input type="text" name="make"> <br>
            Model: <input type="text" name="model"> <br>
            Year: <input type="text" name="year"> <br>
            Color: <input type="text" name="color"> <br>
            Upload an Image: <input type="file" name="pic" accept="image/*"> <br><br>
            <input type="submit" value="Submit!">

        </form>
    </body>
</html>
